.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  &.primary-button {
    background-color: $blue;
    border: 0 none;
    border-radius: 40px;
    padding: 20px 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    &.new-game {
      background-color: $yellow;
      margin: 10px;
    }

    &.top-scores {
      background-color: $mint-green;
      margin: 10px;
    }
  }

  &.secondary-button {
    background-color: $blue;
    border: 0 none;
    border-radius: 40px;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    &.joker {
      background-color: $yellow;
    }

    &.give-up {
      background-color: $red;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.top-buttons-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.is-on-homepage {
    justify-content: center;
  }
}

.go-back-btn,
.logout-btn {
  background-color: transparent;
  border: 0 none;
  color: $secondary-text-color;
  margin-bottom: 10px;
  font-style: italic;
  transition: 0.3s all;
}

.go-back-btn {
  .go-back-icon {
    margin-right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    transform: translateX(-10px);
  }
}

.logout-btn {
  .logout-icon {
    margin-right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    transform: translateX(10px);
  }
}
