$primary-text-color: rgb(24, 24, 24);
$secondary-text-color: rgb(241, 241, 241);

$blue: rgb(20, 129, 147);
$yellow: rgb(185, 135, 7);
$red: rgb(188, 25, 25);
$mint-green: rgb(12, 202, 115);

$blue-lighter: rgb(39, 180, 203);
$yellow-lighter: rgb(255, 183, 0);
$red-lighter: rgb(255, 0, 0);
$mint-green-lighter: rgb(1, 255, 139);

$box-transparent-grey: rgba(225, 225, 225, 0.4);
