@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/PermanentMarker-Regular.ttf");
}
